{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/easyui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icon.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easyui.min.js' %}"></script>
</head>
<body>

<script type="text/javascript">

    //添加新的tab选项卡，内容是图表（柱形图）
    function getcharts(title, url) {
        var jq = top.jQuery;
        if (jq("#tab").tabs('exists', title)) {
            jq("#tab").tabs('select', title);
            document.getElementById('myframe').contentWindow.location.reload(true);
        } else {
            //使用iframe标签来加载页面，此方法可以加载页面中全部内容
            var content = '<iframe scrolling="auto"  id="myframe" frameborder="0"  src="'
                + url + '" style="width:100%;height:100%;"></iframe>';
            jq("#tab").tabs('add', {
                title: title,
                content: content,
                closable: true
            });
        }
    }

</script>

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="height:120px">
        <div style="position: relative; height: 100%;width: 100%;">
            <img src="{% static 'img/school2.png' %}" style="height: 100%;width: 100%;">
            <div style="position:absolute; font-size: 35px;color: #ffffff; top:0px;left: 50px;"><p>西南石油大学各区域人口流量信息查询</p>
            </div>
        </div>

    </div>
    <div data-options="region:'south',split:true" style="height:50px;"></div>
    <div data-options="region:'west',split:true" title="菜单" style="width:180px;">
        <div class="easyui-accordion" style="width:500px;height:300px;">
            <div title="食堂人口流量查询" data-options="iconCls:'icon-search'" style="padding:10px;">
                <ul class="easyui-tree">
                    <li>
                        <span>一期食堂</span>
                        <ul>
                            <li><a href="javascript:void(0);" onclick="getcharts('一期一食堂人数统计','{% url 'shitang_a' %}')">一食堂</a>
                            </li>
                            <li><a href="javascript:void(0);" onclick="getcharts('一期二食堂人数统计','{% url 'shitang_a' %}')">二食堂</a>
                            </li>
                            <li><a href="javascript:void(0);"
                                   onclick="getcharts('一期三食堂人数统计','first_cantee_c_entrance.html')">三食堂</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>二期食堂</span>
                        <ul>
                            <li><a href="javascript:void(0);"
                                   onclick="getcharts('二期一食堂','second_cantee_a_entrance.html')">一食堂</a></li>
                            <li><a href="javascript:void(0);"
                                   onclick="getcharts('二期二食堂','second_cantee_b_entrance.html')">二食堂</a></li>
                            <li><a href="javascript:void(0);"
                                   onclick="getcharts('二期三食堂','second_cantee_c_entrance.html')">三食堂</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>图书馆</span>
                        <ul>
                            <li><a href="javascript:void(0);"
                                   onclick="getcharts('二期一食堂','second_cantee_a_entrance.html')">图书馆二层</a></li>
                            <li><a href="javascript:void(0);"
                                   onclick="getcharts('二期二食堂','second_cantee_b_entrance.html')">图书馆三层</a></li>
                            <li><a href="javascript:void(0);"
                                   onclick="getcharts('二期三食堂','second_cantee_c_entrance.html')">图书馆四层</a></li>
                        </ul>
                    </li>

                    <li>
                        <span>校园各区域人口流量统计</span>
                        <ul>
                            <li><a href="javascript:void(0);" onclick="getcharts('区域人口流量统计','{% url 'map' %}')">区域人口流量统计展示</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div data-options="region:'center',title:'首页'">
        <div id="tab" class="easyui-tabs" data-options="fit:true">
            <div title="欢迎页面" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
                <h1>欢迎大家使用西南石油大学各区域人口流量信息查询系统！</h1>
                <p style="font-size: 20px">介绍</p>
                <p style="font-size: large; margin-bottom: 0px">&emsp;&emsp;本系统旨在打造一个智慧校园模式。让同学能够实时掌握校园状态，从而合理安排自己的学习和生活。同时，也能让校园管理部门对学生人口流向情况有了可以量化的参考数据，进而有效的进行资源分配，进一步提高管理部门工作效率。让在校园内的每一个人，都可以随时感受到校园各个场所的动态，共同享受智慧校园所带来的科技感和便捷性。
                </p>
                <p style="font-size: 20px">功能</p>
                <ul style="font-size: large">
                    <li>在左侧菜单中，老师、同学们可选择性查询各区域的入口人口流量，掌握人数波动情况</li>
                    <li>同时，还可通过查询校内地图，直观了解各区域的实时拥挤程度</li>
                </ul>
                <p style="font-size: 20px">展望</p>
                <p style="font-size: large; margin-bottom: 0px">&emsp;&emsp;本系统在安全防范方面、经济方面也有重大意义。更多功能还在开发中。</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
