{% load staticfiles %}
<html>
<head>
    <title>一食堂A出入口</title>
    <!--easyUI插件导入-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/easyui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icon.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easyui.min.js' %}"></script>
    <!--highcharts插件导入-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery-1.8.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/highcharts-zh_CN.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/highcharts-3d.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/exporting.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/highcharts.js' %}" type="text/javascript"></script>

</head>
<body>


<script type="text/javascript">
    $(function () {

        $.ajax({
            type:'GET',
            url:'{% url 'shitang_a' %}', //请求数据的地址
{#            dataType:'json', //后台传值指定格式#}
            async: false,
            error:function(){
                alert("请求失败！！！");
            },
            success:function(){
                var xtext =  [];
                var ytext = [];
                var color = ["gray","tan","red","blue","yellow","green","black","purple","skyblue"];
                {% for data in datas %}
                    xtext.push('{{ data.time_join | time:"H:i" }}')
                    ytext.push({{ data.people_count }});
                {% endfor %}



{#                //解析json数据#}
{#                var j = eval(json);#}
{#                for(var key in j){#}
{#                    xtext.push(j[key].time);#}
{#                    ytext.push(parseFloat(j[key].average_num)); //给Y轴赋值#}
{#                    //j[key].color= color[key];#}
{#                }#}

                $('#container').highcharts({
                    chart: {
                        type: 'column',
                        margin: 75,
                        options3d: {
                            enabled: true,
                            alpha: 10,
                            beta: 25,
                            depth: 70
                        }
                    },
                    title: {
                        text: '一期一食堂人数统计展示'
                    },
                    subtitle: {
                        text: ''
                    },
                    plotOptions: {
                        column: {
                            depth: 25
                        }
                    },
                    xAxis: {
                        categories: xtext
                    },
                    yAxis: {
                        title: {
                            text: null
                        }
                    },
                    series: [{
                        name: '食堂内估计总人数',
                        data: ytext
                    }]
                });
            }
        });
    });
</script>
<div id="container" style="margin: 0 auto" >
</div>
<div style="position: relative; height: 30px; margin: 20px">
    <img src="{% static 'img/Tips_32px_1194699_easyicon.net.png' %}" style="margin-left: 20px">
    <div style="position:absolute; top:5px; left: 50px;">
        Tips
    </div>
    <p style="margin-top: 5px">
        &emsp;&emsp;&emsp;&emsp;以上数据仅供参考，以实际情况为准。祝大家用餐愉快！
    </p>
</div>
</body>
</html>